<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label> Email
      <input type="username" name="username" placeholder="username" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit"><a href="/index"></a> Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>